<h1 class="h3 mb-2 text-gray-800">Workshops</h1>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Search</h6>
    </div>
    <div class="card-body">
        <form (submit)="onSubmitSearch()">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="workshop">Workshop name</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="workshop" name="workshop" [(ngModel)]="searchWorkshop.workshop">
                        </div>
                    </div>
                </div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Search</button>
                    <span class="btn btn-link button-spacing" [routerLink]="['/workshop/new']">Create workshop</span>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card shadow mb-4" *ngIf="workshops">
    <div class="card-header py-3">
        <div class="table-responsive">
            <table class="table table-striped" id="dataTable" width="100%" cellspacing="0" matSort (matSortChange)="sortData($event)">
                <thead>
                    <tr>
                        <th scope="col" class="workshop-type">Workshop type</th>
                        <th scope="col" class="workshop-name">Workshop name</th>
                        <th scope="col" class="latest-workshop-date" mat-sort-header="latestWorkshopDate">Latest workshop date</th>
                        <th scope="col" class="total-customers">Total customers</th>
                        <th></th>
                        <th *ngIf="role === 'admin'"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of paginationData">
                        <td scope="row">{{ item.workshop_type }}</td>
                        <td scope="row">{{ item.workshop_name }}</td>
                        <td scope="row">{{ item.latest_workshop_date_format }}</td>
                        <td scope="row">{{ item.sum_customers }}</td>
                        <td scope="row">
                            <button class="btn btn-primary" [routerLink]="['/workshop/', item.workshop_id]">Edit</button>
                        </td>
                        <td scope="row" *ngIf="role === 'admin'">
                            <button type="button" class="btn btn-danger" (click)="onClickDeleteWorkshop(item.workshop_id)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="sortedData.length >= 1">
                        <td colspan="10" class="no-data-box">
                            <span>Total {{ paginationTemplate.totalItems }}</span>
                        </td>
                    </tr>
                    <tr *ngIf="!sortedData || sortedData.length === 0">
                        <td colspan="10" class="no-data-box">
                            <span>No data</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                  <li class="page-item" [class.disabled]="paginationTemplate.currentPage === 1">
                    <a class="page-link" (click)="paginationTemplate.currentPage > 1 ? pageChanged(paginationTemplate.currentPage - 1) : null" tabindex="-1">Previous</a>
                  </li>
                  <li class="page-item" *ngFor="let page of paginationService.getPages(paginationTemplate.totalItems, paginationTemplate.itemsPerPage, paginationTemplate.currentPage)" [class.active]="page === paginationTemplate.currentPage">
                    <a class="page-link" (click)="pageChanged(page)">{{ page === -1 ? '...' : page }}</a>
                  </li>
                  <li class="page-item" [class.disabled]="paginationTemplate.currentPage === paginationTemplate.totalItems / paginationTemplate.itemsPerPage">
                    <a class="page-link" (click)="paginationTemplate.currentPage < paginationTemplate.totalItems / paginationTemplate.itemsPerPage ? pageChanged(paginationTemplate.currentPage + 1) : null">Next</a>
                  </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
