.text-right {
  text-align: right;
}

div.left {
  float: left;
}

div.right {
  float: right;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-container {
  display: flex;
  align-items: center;
}

.button-margin {
  margin-left: 15px;
  margin-bottom: 10px;
}